# Ignore webstorm files
.idea/

# Dont commit the following directories created by pub.
.buildlog
.pub/
build/
packages/
~packages/

# Or the files created by dart2js.
*.dart.js
*.dart.precompiled.js
*.js_
*.js.deps
*.js.map

# Include when developing application packages.
pubspec.lock

# OSX files
.DS_Store
._*
.Spotlight-V100
.Trashes